
    <ul class="nav nav-pills nav-stacked navBlack">
        <li class="active"><a>My Blog</a></li>
        <li class=""><a href="/chatRoom/blog.html#!/blogList/{{author}}"><span class="glyphicon glyphicon-home"></span>    文章</a></li>
        <li class="nav-divider"></li>
        <li class=""><a href="/chatRoom/blog.html#!/blogBuild/{{author}}"><span class="glyphicon glyphicon-cloud-upload"></span>    发布</a></li>
        <li class="nav-divider"></li>
        <li class=""><a href="/chatRoom/blog.html#!/blogComments/{{author}}"><span class="glyphicon glyphicon-list"></span>    留言</a></li>
        <li class="nav-divider"></li>
        <li class=""><a href="/chatRoom/blog.html#!/blogTag/{{author}}"><span class="glyphicon glyphicon-pushpin"></span>    标签</a></li>
        <li class="active"><a>相关链接</a></li>
        <li class=""><a href="https://github.com/NoJsJa"><span class="glyphicon glyphicon-user"></span> Github</a></li>
        <li class="nav-divider"></li>
        <li class=""><a href="http://weibo.com"><span class="glyphicon glyphicon-user"></span> 新浪微博</a></li>
        <li class="nav-divider"></li>
        <li class=""><a href="http://tieba.baidu.com"><span class="glyphicon glyphicon-user"></span> 百度贴吧</a></li>
        <li class="nav-divider"></li>
    </ul>

